body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 1em;
}

h2{

    color: brown;
}

.button-container {
    text-align: center;
}

#Test Button {
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #8e008e; /* Purple background */
    border: 2px solid black; /* Black border */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-style: italic; /* Italic text */
}

#Test Button:hover {
    background-color: #470047; /* Darker shade of purple for hover effect */
}

#HomeButton{

    text-align: right;

}